/* Home component styles */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 0;
}

.about {
  background-color: #ffffff;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #180070;
}

.profile-image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 20%;
  animation: slideInUp 1s ease-in-out;
  
}


.sanjay {
  margin-top: 20px;
  font-size: 24px;
  animation: fadeIn 1s ease-in-out, textFade 1s ease-in-out, blink 5s;
  transition: color 0.5s ease;
}
.icons{

  color: #0011ff;
}
.skiles{
  color: rgb(15, 1, 143);
}
#iconesss{
  color: red;
  background-color: #ffffff;
  gap: 2px;
  padding: 20px;
  margin:solid red 1px;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #000872;
  animation: fadeInUp 1s ease-in-out;
}

.list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  .home {
    padding: 10px 0;
  }

  .about {
    height: auto;
    padding: 20px;
  }

  .profile-image {
    padding-top: 10%;
  }

  .sanjay {
    font-size: 18px;
  }

  .skills {
    font-size: 30px;
    padding: 20px;
  }

  .list {
    width: 80%;
  }
}
/* Keyframe animation for blinking */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Apply the blinking animation to the .blinking-text class */
.blinking-text {
  animation: blink 1s infinite;
  color: red;
}

