.project {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  opacity: 0; /* Initial opacity for animation */
  transform: translateY(20px); /* Initial translate for animation */
  animation: fadeInUp 0.8s forwards 0.2s, slideUp 0.6s forwards 0.4s;
}

.project img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.project p {
  margin-top: 10px;
  font-size: 18px;
}

.project svg {
  font-size: 24px;
  margin-top: 20px;
}

h1 {
  color: rgb(1, 12, 94);
  font-size: 35px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards 0.4s;
  border-bottom: 2px solid #3e497a;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/* Keyframe animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
/* Your CSS file */

.a-tag a {
  display: block;
  margin-bottom: 10px;
  color: #0004f7; /* You can choose your desired link color */
  text-decoration: none;
}

.a-tag a:hover {
  text-decoration: underline;
  
}
